
ul{
	list-style-type:none;
}
*{
	font-family: 'Cormorant Garamond', serif;
	background-color:#000000;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header,footer{
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	animation-name:title;
	animation-duration:3s;
	width:100%;

	
}
header{
	padding:10px;
}
header h1{
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
}
.wrapper{
	width:80%;
	margin: 0px auto;
	height:100%;
	text-align:center;
	animation-name:title;
	animation-duration:3s;

}
@keyframes title{
	0%{opacity:0;}
	100% {opacity:1;}
}
.title{
	color:#e0dfdc;
	font-size:150px;
	display:flex;
	justify-content:center;
	text-align:center;
}



.cleaner{
	clear:both;
	float:right;
}


.wrapper1{
	width:80%;
	margin: 30px auto;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	padding-top:30px;
	overflow:hidden;
	justify-content:space-between;

}
@keyframes meni{
	0%{opacity:0;}
	100%{opacity:1;}
}
#meni{

	width:45%;
	height:100%;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat ,repeat;
	background-size:cover;
	animation-name:meni;
	animation-duration:10s;
	margin-left:60px;
	
}
#bonfirediv{
	animation-name:meni;
	animation-duration:10s;
}


#meni ul li{
	font-size:50px;
	border: 2px solid #6b4332;
	border-collapse: collapse;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat ,repeat;
	background-size:cover;
	

}
#meni ul li h2{
	text-align:center;
	color:#e0dfdc;
	background-color:transparent;
	
}
#meni ul li a{
	text-decoration:none;
	
}
#meni ul li a p{
	color:#e0dfdc;
	padding-left:30px;
	background-color:transparent;
	
}
#meni ul li a p:hover{
	background-color:#612501;
}


footer{
	width:100%;
	padding:10px;
	position:absolute;
	bottom:0;
	
	
	
	
   
}
.wrapper2{
	width:80%;
	margin: 0px auto;
	animation-name:title;
	animation-duration:4s;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	padding:10px;
	
	
	

}
footer p{
	color:#e0dfdc;
	font-size:30px;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	
	
}
.copy{
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
}
.hollow{
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	
	
}

.hollow p{
	color:#918c23;
	font-style:italic;
	text-shadow:2px 2px #black;
	position:relative;
	left:100px;
	
	
	
}
.icons{
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	position:relative;
	left:200px;
	
}

.icons ul{
	list-style:none;
	background-color:transparent;
	
}
.icons ul li{
	
	display:inline-block;
	margin-left:10px;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	background-color:transparent;
	
	
	
}
.icons ul li a{
	
	color:#e0dfdc;
	font-size:25px;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	background-color:transparent;
	
	
}
.icons ul li a:hover{
	color:#918c23;
}
.icons ul{
	background-image:url("../img/meni.jpg");
    background-repeat:repeat ,repeat;
	
}
@media (max-width:280px){
	.title{
	font-size:70px;}
	h2{
		font-size:50px;
	}
	h3{
		font-size:40px;
	}
}
@media (min-width:281px max-width:480px){
	.title{
	font-size:90px;}
	h2{
		font-size:60px;
	}
	h3{
		font-size:50px;
	}
}
#navbar ul li a{
	text-decoration:none;
	
}
#navbar{
	font-size:50px;
	flex-wrap:wrap;
	margin:20px auto;
	background-color:transparent;
	background-image:url("../img/meni.jpg");
    background-repeat:repeat;
	
	
}
#navbar ul li{
	border: 2px solid #786340;
	display:inline-block;
	padding:10px;
	background-color:transparent;
	
	
}

#navbar ul li a h4{
	color:#e0dfdc;
	background-color:transparent;
}
#navbar ul li:hover{
	background-color:#612501;
}
#navbar ul,#navbar ul li,#navbar ul li a{
	background-color:transparent;
	
}
#main1{
	margin:50px auto;
	background-color:#612601;
	
	width:75%;
	height:500px;
	Overflow-y:scroll;
	Overflow-x:hidden;
	padding: 30px;
	border: 3px solid #918c23;
	border-radius:30px;
	animation-name:meni;
	animation-duration:7s;
}
#lore{
	background-color:#612601;
	text-shadow: 2px 2px #000000;
}
#lore p{
	font-size:30px;
	color:#e0dfdc;
	background-color:#612601;
	font-style:italic;
	text-align:center;
	
	
}
h2{
	font-size:70px;
	text-align:center;
	color:#e0dfdc;
	background-color:#612601;
}

.minibonfire1{
	display: block;
	margin:0px auto;
	width:5%;
	margin-bottom:20px;
	animation-name:meni;
	animation-duration:8s;
	
}
.minibonfire figcaption{
	color:#e0dfdc;
	text-align:center;
	animation-name:meni;
	animation-duration:8s;
}
#main2{
	margin:50px auto;
	width:75%;
	height:500px;
	Overflow-y:scroll;
	Overflow-x:hidden;
	padding: 30px;
	border: 3px solid #918c23;
	border-radius:30px;
	background-color:#612601;
	animation-name:meni;
	animation-duration:7s;
	
}
#aboutthegame{
	background-color:#612601;
	text-shadow: 2px 2px #000000;
}
#aboutthegame p{
	font-size:30px;
	color:#e0dfdc;
	background-color:#612601;
	font-style:italic;
	text-align:center;
	
	
}
.gallery{
	border-radius:10px;
	float:left;
	margin:18px;
	background-color:#612601;
}
.m1{
	margin-left:353px;
}
.gallery img{
	border-radius:20px;
	transition:1s, 1s, 0.2s;
	
}
.gallery img:hover{
	transform:scale(1.3);
	border:2px solid #918c23;
}
.area{
	background-color:#612601;
	text-align:center
}
.area figcaption,.area h2{
	background-color:#612601;
	color:#e0dfdc;
	
}
.area h2{
	font-size:50px;
	
}
.area figcaption{
	font-size:30px;
	font-style:italic;
	text-shadow: 2px 2px #000000;
}
.area img{
	border-radius:20px;
	transition:1s, 1s, 0.2s;
	
}
.area img:hover{
	transform:scale(1.3);
}
.area img alt{
	color:#e0dfdc;
}
.area img{
	background-color:#612601;
}
#fromsoft{
	background-color:#612601;
	display:flex;
	justify-content:center;
}
.gallery img{
	background-color:#612601;
}
.gallery img alt{
	color:#ffffff;
}